{% from 'components/menu.njk' import mainMenu with context %}
{% from 'components/logo.njk' import logo with context %}
{% from 'components/social-networks.njk' import socialLinks with context %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div class="site-wrapper">
    <header class="header" role="banner">
        <button type="button" class="menu-toggle">
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__text">Menu</span>
        </button>
        <div class="header-wrapper">
            <div class="header-contact">
                <div class="header-contact__info">
                    <div class="header-contact__info-wrapper">
                        <svg class="svg-icon" role="img" aria-label="lady">
                            <title>lady</title>
                            <use xlink:href="#header-contact-info-icon"></use>
                        </svg>
                        <a href="mailto:hello@ks.graphics">hello@ks.graphics</a>
                        {{ socialLinks() }}
                    </div>
                </div>
            </div>
            <div class="menu-wrapper">
                {{ mainMenu() }}
            </div>
        </div>
    </header>
    <main>
        {% block main %}{% endblock %}
        </main>
    <footer class="footer"></footer>
</div>
<script src="js/scripts.min.js"></script>
<div class="hidden" aria-hidden="true">
    {% include 'svg/symbol/svg/sprite.symbol.svg' %}
</div>
</body>
</html>
