{% macro mainMenu() %}
    <nav class="menu">
        {% set navList = {
            'Portfolio': 'portfolio.html',
            'New project': 'new-project.html',
            'Blog': 'blog.html'
        } %}
        <ul class="menu-list">
            {%- for item, link in navList %}
                <li class="menu-item"><a href="{{ link }}" title="{{ item }}">{{ item }}</a></li>
            {%- endfor %}
        </ul>
    </nav>
{% endmacro %}
