{% macro mainMenu() %}
    <nav class="menu">
        {% set navList = [
            {
                title: 'Portfolio',
                text: 'Discover favourites',
                link: 'portfolio.html'
            },{
                title: 'New project',
                text: 'Offer cooperation',
                link: 'new-project.html'
            },{
                title: 'Blog',
                text: 'Spark of thoughts',
                link: 'blog.html'
            }
        ] %}
        <ul class="menu-list">
            {%- for item in navList %}
                <li class="menu-item">
                    <a href="{{ item.link }}" title="{{ item.title }}" class="menu-item__link">
                        <span class="menu-item__title">{{ item.title }}</span>
                        <span class="menu-item__subtitle">{{ item.text }}</span>
                    </a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
{% endmacro %}
