{% macro socialLinks() %}
    <ul class="social-networks">
        {% set socialData = {
            'behance': 'behance-icon',
            'creative market': 'creative-market-icon',
            'instagram': 'instagram-icon',
            'linkedin': 'linkedin-icon',
            'upwork': 'upwork-icon'
        } %}
        {%- for title, icon in socialData %}
            <li class="social-networks__item -{{ title }}">
                <a href="#" title="{{ title }}">
                    <svg class="svg-icon" role="img" aria-label="{{ title }}">
                        <title>{{ title }}</title>
                        <use xlink:href="#{{ icon }}"></use>
                    </svg>
                </a>
            </li>
        {%- endfor %}
    </ul>
{% endmacro %}
