{% macro contactInfo() %}
    <div class="contact-info">
        <p class="contact-info__item -phone"><a href="tel:380669339440">+38 066 933-944-0</a></p>
        <p class="contact-info__item -mail"><a href="mailto:svetloveoleg@gmail.com">svetloveoleg@gmail.com</a></p>
    </div>
{% endmacro %}
