{% macro sectionGallery(title) %}
    <section class="gallery">
        <h2 class="section-title">
            <span>{{ title }}</span>
        </h2>
        <div class="gallery-wrapper">
            {%- for slide in range(4) %}
                {% set index = loop.index %}
                <div class="gallery-container">
                    <div class="gallery-items">
                        {%- for item in range(8) %}
                            {% set imgNumber = range(15, 30) | random %}
                            {#<img src="//picsum.photos/315/315?image={{ imgNumber }}" alt="image description">#}
                            <a class="gallery-item"  data-fancybox="gallery-id-{{ index }}" href="/img/gal-1280.jpg"><img src="//picsum.photos/315/315?image={{ imgNumber }}" data-caption="Caption"><i class="fas fa-eye"></i></a>
                        {%- endfor %}
                    </div>
                </div>
            {%- endfor %}
        </div>
    </section>
{% endmacro %}
