{% macro hero() %}
    <section class="hero">
        <div class="hero-slider">
            {%- for item in range(5) %}
                {% set imgNumber = range(0, 15) | random %}
                <div class="hero-item">
                    <img src="//picsum.photos/980/535?image={{ imgNumber }}" alt="image description">
                    <h2 class="hero-title">«There is more to you<br>than meets the eye»</h2>
                </div>
            {%- endfor %}
        </div>
    </section>
{% endmacro %}
