{% from 'components/menu.njk' import mainMenu with context %}
{% from 'components/logo.njk' import logo with context %}
{% from 'components/contact-info.njk' import contactInfo with context %}
{% from 'components/social-networks.njk' import socialLinks with context %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Oleg Svetlov photography</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <meta name="theme-color" content="#000">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
<div class="site-wrapper">
    <div class="container">
        <header class="header">
            {{ mainMenu() }}
            {{ logo() }}
            {{ contactInfo() }}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer class="footer">
            {{ socialLinks() }}
            <p class="footer-copyright">&copy; 2018, Oleg Malykhin photography</p>
        </footer>
    </div>
</div>
<script src="js/scripts.min.js"></script>
</body>
</html>
