{% macro logo() %}
    <div class="logo">
        <a href="./">
            <img src="img/logo.svg" alt="image description">
            <h1 class="logo-title">Oleg SVETLOV photography</h1>
        </a>
    </div>
{% endmacro %}
