{% macro socialLinks() %}
    {% set socialData = {
        'facebook': 'facebook-f',
        'instagram': 'instagram',
        'vkontakte': 'vk'
    } %}
    <section class="social-networks">
        <ul class="social-networks__listitems">
            {%- for item, class in socialData %}
                <li class="social-networks__item">
                    <a class="social-networks__link" href="#" target="_blank" title="{{ item }} (opens in a new window)"><i class="fab fa-{{ class }}"></i></a>
                </li>
            {%- endfor %}
        </ul>
    </section>
{% endmacro %}
