.menu {
    $this: &;
    padding-left: 20rem;

    @include breakpoint(medium down) {
        padding-left: 5rem;
    }

    &-wrapper {
        align-items: center;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background: linear-gradient(to right, rgba(254, 206, 194, 1) 0%, rgba(254, 207, 199, 1) 14%, rgba(254, 206, 211, 1) 29%, rgba(254, 206, 213, 1) 45%, rgba(254, 206, 221, 1) 65%, rgba(254, 206, 225, 1) 81%, rgba(254, 206, 231, 1) 100%);
        transform: translateZ(0);
        transition: all 2s cubic-bezier(.19, 1, .22, 1) .5s;

        &.-is-open {
            width: 50%;
            -webkit-transition: all 2s cubic-bezier(.19, 1, .22, 1) .2s;
            transition: all 2s cubic-bezier(.19, 1, .22, 1) .2s;

            @include breakpoint(medium down) {
                width: 65%;
            }
        }
    }

    &-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &-item {
        display: block;
        color: $color-white;
        font-size: 4.4rem;
        font-weight: 400;
        line-height: 6rem;
        margin: 0;
        overflow-y: hidden;

        &__link {
            color: inherit;
            font-weight: 700;
            display: block;
            text-decoration: none;
            transform: translateY(30rem);
            transition: transform .7s cubic-bezier(.78, 0, .81, 0) 0s;

            @include on-event() {
                #{$this}-item__title {
                    background-position: 0 0;
                    transition: background-position .3s ease-in-out 0s,color .3s ease-in-out 0s;
                }

                #{$this}-item__subtitle {
                    color: $color-white;
                }
            }
        }


        .-is-open & {
            #{$this}-item__link {
                transform: translateY(0);
            }

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    #{$this}-item__link {
                        transition: transform 1.5s cubic-bezier(.19, 1, .22, 1) $i * .2s;
                    }
                }
            }
        }

        &__title {
            letter-spacing: 3px;
            background: linear-gradient(left,#414a6b 50%,#fff 0) 100% 0;
            background-size: 200% 100%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            transition: background-position .3s ease-in-out 0s,color .3s ease-in-out 0s;
        }

        &__subtitle {
            font-family: $font-2;
            font-weight: 300;
            display: block;
            font-size: 4.5rem;
            letter-spacing: 1px;
            margin: -4rem 0 0 3.5rem;
            color: $color-black;
            transition: color 0.3s cubic-bezier(0.66, 0.51, 0.61, 0.88) 0s, transform 2s cubic-bezier(.19, 1, .22, 1) .2s, opacity 2s cubic-bezier(.19, 1, .22, 1) .2s;
        }
    }

    &-toggle {
        @include absolute(10rem, 10rem, null, null);
        @include size(3rem, 2rem);
        border: 0;
        background: none;
        cursor: pointer;
        font-size: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-indent: -9999px;
        z-index: 11;

        @include breakpoint(medium down) {
            right: 5rem;
            top: 5rem;
        }

        &:focus {
            outline: none;
        }

        &__line {
            @include size(100%, 0.2rem);
            background-color: $color-black;
            display: block;
            left: 0;
            position: absolute;

            &:nth-child(1) {
                top: 0;
                transition: all 0.3s 0.3s, transform 0.3s 0s;
            }

            &:nth-child(2) {
                margin-top: -0.1rem;
                top: 50%;
                transition: all 0.3s 0.3s;
            }

            &:nth-child(3) {
                bottom: 0;
                transition: all 0.3s 0.3s, transform 0.3s 0s;
            }
        }

        &.-is-open {
            #{$this}-toggle__line {
                &:nth-child(1) {
                    margin-top: -0.1rem;
                    top: 50%;
                    transform: rotate(45deg);
                    transition: all 0.3s, transform 0.3s 0.3s;
                }

                &:nth-child(2) {
                    opacity: 0;
                    transition: all 0.3s, opacity 0.3s 0s;
                }

                &:nth-child(3) {
                    bottom: 50%;
                    margin-bottom: -0.1rem;
                    transform: rotate(-45deg);
                    transition: all 0.3s, transform 0.3s 0.3s;
                }
            }
        }
    }
}
