.header {
    @include absolute(0, null, null, 0);
    width: 100%;

    &-wrapper {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 0;
        height: 100vh;
        transition: all 2s cubic-bezier(.19, 1, .22, 1) .7s;
        z-index: 10;
        transform: translateZ(0);

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-white;
        }

        &.-is-open {
            width: 100%;
            transition: all 1.5s cubic-bezier(.19, 1, .22, 1);
        }
    }

    &-contact {
        @include absolute(0, null, null, 0);
        @include size(100%);
        background-color: $color-white;

        @include breakpoint(small down) {
            background: transparent;
            bottom: 7rem;
            height: 14rem;
            left: 5rem;
            top: auto;
            z-index: 2;
        }

        &__info {
            height: 100%;
            width: 50%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
            transition: all .7s cubic-bezier(.78, 0, .81, 0) 0s;

            @include breakpoint(medium down) {
                width: 35%;
            }

            @include breakpoint(small down) {
                align-items: flex-start;
                width: 100%;
            }

            .-is-open & {
                opacity: 1;
                visibility: visible;
                transition: all 1.5s cubic-bezier(.19, 1, .22, 1) .2s;
            }

            &-wrapper {
                overflow-y: hidden;
                text-align: left;

                > svg {
                    @include size(15.8rem);
                    margin-left: -3rem;

                    @include breakpoint(small down) {
                        display: none;
                    }
                }

                > a {
                    color: $color-black;
                    display: block;
                    font-size: 1.3rem;
                    font-weight: 400;
                    margin-top: 6rem;
                    text-transform: uppercase;
                    text-decoration: none;

                    @include on-event() {
                        color: #7d8292;
                    }
                }

                > * {
                    transform: translateY(30rem);
                    transition: transform .7s cubic-bezier(.78, 0, .81, 0) 0s;
                }

                .-is-open & {
                    > * {
                        transform: translateY(0);

                        $contact-params: (
                            0.8: 1,
                            1: 2,
                            1.2: 3
                        );

                        @each $time, $index in $contact-params {
                            &:nth-child(#{$index}) {
                                transition: transform 1.5s cubic-bezier(.19, 1, .22, 1) #{$time}s;
                            }
                        }
                    }
                }
            }
        }
    }
}
