@import '_mixins/core-mixins';
@import '_mixins/breakpoint';
@import '_mixins/grid';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'wrapper';
@import 'header';
@import 'components/menu';
@import 'components/contact-info';
@import 'components/logo';
@import 'footer';
@import 'components/social-networks';

html {
    font-size: 62.5%;
}

body {
    font-family: $default-font;
    font-weight: 400;
    line-height: 1;

    &.-overflow-hidde {
        overflow: hidden;
    }
}

.hidden {
    display: none;
}
