.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 98rem;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
}

.section-title {
    color: $color-black;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 2.7rem;
    position: relative;
    text-align: center;

    span {
        background-color: $color-white;
        padding: 0 4.5rem;
    }

    &::before {
        @include absolute(50%, 50%);
        @include size(100%, 0.2rem);
        background-color: $color-1--2;
        content: '';
        transform: translate(50%, -50%);
        z-index: -1;
    }
}
