@import '_mixins/core-mixins';

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    line-height: 1;
}

.container {
    margin: 5rem auto 0;
    width: 40rem;
}

.todo__form {
    label {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
}

.todo__list {
    font-size: 1.6rem;
    list-style-type: disc;
    margin: 1.5rem 0 0;
    padding: 0;
}

.todo__item {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &-buttons {
        margin-left: 1rem;
    }

    &-button {
        margin-left: 0.5rem;
    }
}
