{% from 'components/hero.njk' import hero with context %}
{% from 'components/gallery.njk' import sectionGallery with context %}

{% extends 'components/layout.njk' %}

{% block main %}
    <section class="contact">
        <h2 class="section-title">
            <span> Let's work together!</span>
        </h2>
    </section>
{% endblock %}
