{% from 'components/hero.njk' import hero with context %}
{% from 'components/gallery.njk' import sectionGallery with context %}

{% extends 'components/layout.njk' %}

{% block main %}
    <section class="contact">
        <h2 class="section-title">
            <span> Let's work together!</span>
        </h2>
        <form action="#" method="post">
            <fieldset>
                <legend class="ghost">Contact Information</legend>
                <div class="contact-wrap flex-row">
                    <div class="contact__field col-md-6 col-xs-12">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" value="" placeholder="">
                    </div>
                    <div class="contact__field col-md-6 col-xs-12">
                        <label for="last-name">Last name</label>
                        <input type="text" name="last-name" id="last-name" value="" placeholder="">
                    </div>
                    <div class="contact__field col-xs-12">
                        <label for="email">Email Address</label>
                        <input name="email" id="email" type="email" required>
                    </div>
                    <div class="contact__field col-xs-12">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" id="subject" value="" placeholder="">
                    </div>
                    <div class="contact__field col-xs-12">
                        <label for="textarea">Message</label>
                        <textarea name="textarea" id="textarea"></textarea>
                    </div>
                </div>
                <button type="submit" class="contact-submit">Submit</button>
            </fieldset>
        </form>
    </section>
{% endblock %}
