.gallery {
    margin-bottom: 1rem;

    .section-title {
        span {
            display: inline-block;
            width: 11rem;
        }
    }

    &-wrapper {
        svg {
            @include size(2.9rem);
            @include trs();
            cursor: pointer;
            fill: $color-black;

            @include on-event() {
                fill: $color-1--1;
            }

            &.slick-disabled {
                fill: $color-1--1
            }

            &.gallery-prev,
            &.gallery-next {
                position: absolute;
                top: -5.1rem;
            }

            &.gallery-prev {
                left: 50%;
                transform: translateX(-8.5rem);
            }

            &.gallery-next {
                right: 50%;
                transform: translateX(8rem);
            }
        }
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 - 0.9rem;

        @include breakpoint(small down) {
            flex-direction: column;
            margin: 0;
            padding: 0 0.5rem;
        }
    }

    &-item {
        color: $color-white;
        font-size: 3.5rem;
        margin: 0.9rem;
        overflow: hidden;
        position: relative;
        width: calc(25% - 1.8rem);

        @include breakpoint(medium down) {
            width: calc(33.3333% - 1.8rem);
        }

        @include breakpoint(small down) {
            margin: 0 auto 2rem;
            max-width: 31.5rem;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &::before {
            @include absolute(0, null, null, 0);
            @include size(100%);
            background-color: rgba($color-black, 0.85);
            content: '';
            opacity: 0;
            transform: translate(-100%, -100%);
            transition: all 0.4s ease;
        }

        img {
            display: block;
            font-family: 'object-fit: cover; object-position: center;';
            object-fit: cover;
            width: 100%;
        }

        i {
            @include absolute(50%, 50%);
            opacity: 0;
            transform: translate(50%, -50%);
            transition: all 0.4s ease;
        }

        @include on-event() {
            &::before {
                opacity: 1;
                transform: translate(0, 0);
            }

            i {
                opacity: 1;
            }
        }
    }
}
