.logo {
    @include absolute(null, null, 1.9rem, 50%);
    transform: translate(-50%, 100%);

    @include breakpoint(medium down) {
        bottom: -1.5rem;
    }

    @include breakpoint(small down) {
        @include reset-position();
        transform: translate(0, 0);
    }

    a {
        text-decoration: none;
    }

    img {
        @include size(6.8rem);
        display: block;
        margin: 0 auto 1rem;
    }

    &-title {
        color: $color-black;
        font-family: $default-font-medium;
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }
}
